* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  font-family: sans-serif;
  font-size: clamp(0.95rem, 1.2vw, 1.25rem);
}

main {
  height: 100vh;
  width: 100%;
  background-color: #C8E6C9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  position: relative;
  width: 80%;
  max-width: 900px;
  height: 70%;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0.7px 1px 2px 5px #b9c4b9;
}

.contact-container {
  border-radius: 15px;
  height: 100%;
  width: 30%;
  background-color: rgba(255, 255, 255, 0.87);
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: rgba(255, 255, 255, 0.78);
  font-size: 0.8rem;
  position: relative;
}

.upper {
  height: 70%;
  background-color: #2E7D32;
  padding-left: 20px;
  border-radius: 15px 0 0 0;
}

#push {
  height: 60%;
}

a, a:hover, a:focus, a:visited, a:active {
  color: inherit;
  text-decoration: none;
  display: block;
  margin-bottom: 15px;
}

.lower {
  background-color: #2E7D32;
  height: calc(30% - 15px);
  padding-left: 20px;
  border-radius: 0 0 0 15px;
}

.social-media {
  width: max-content;
}

.social-media:hover {
  cursor: pointer;
}


.social-media > a {
  margin-right: 7px;
  display: inline;
}

.container {
  background-color: red;
}

.image-container {
  width: 30%;
  height: 70%;
  position: absolute;
  left: 25%;
  top: 10%;
  z-index: 2;
  animation: bounce 5s linear 1s infinite both;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.green {
  color: #2E7D32;
}

.bold {
  font-weight: 700;
}

.user-info {
  position: absolute;
  width: 35%;
  top: 0;
  right: 4%;
}

.technologies li {
  padding-bottom: 5px;
}

#box1 {
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  position: absolute;
  left: -10%;
  top: 15%;
  z-index: 3;
}

#box2 {
  width: 40px;
  height: 20px;
  background-color: #888888;
  position: absolute;
  right: -10%;
  top: 15%;
  z-index: 3;
}

#box3 {
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  position: absolute;
  left: 5%;
  top: 93%;
  z-index: 3;
  border: 1px solid #2E7D32;
}

#box4 {
  width: 40px;
  height: 40px;
  background-color: #2E7D32;
  position: absolute;
  left: 90%;
  bottom: -5%;
  z-index: -2;
  border-radius: 50%;
}

@keyframes bounce {
  0% {
    left: 25%;
  }
  50% {
    left: 28%;
  }
  100% {
    left: 25%;
  }
}
/* This is an example CSS file, feel free to remove/edit it anytime */
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  text-align: center;
}
.footer a {
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  display: inline;
}
.footer span {
  font-size: 14px;
}

@media only screen and (max-width: 780px) {
  .image-container {
    width: 150px;
    height: 150px;
    left: 2%;
    top: 5%;
    animation: none;
  }
  img {
    border-radius: 50%;
  }

  #box1, #box2, #box3, #box4 {
    display: none;
  }
}