* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
}

main {
  height: 100vh;
  width: 100%;
  background-color: #C8E6C9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 80%;
  max-width: 900px;
  height: 70%;
  background-color: #ffffff;
  border-radius: 15px;
}
.contact-container {
  border-radius: 15px 0 0 15px;
  height: 100%;
  width: 30%;
  background-color: rgba(255, 255, 255, 0.87);
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: rgba(255, 255, 255, 0.78);
  font-size: 0.8rem;
  position: relative;
}

.upper {
  height: 70%;
  background-color: #2E7D32;
  padding-left: 20px;
}

#push {
  height: 60%;
}

a, a:hover, a:focus, a:visited, a:active {
  color: inherit;
  text-decoration: none;
  display: block;
  margin-bottom: 15px;
}

.lower {
  background-color: #2E7D32;
  height: calc(30% - 15px);
  padding-left: 20px;
}

.social-media {
  width: max-content;
}

.social-media:hover {
  cursor: pointer;
}


.social-media > a {
  margin-right: 7px;
  display: inline;
}

/* This is an example CSS file, feel free to remove/edit it anytime */
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  text-align: center;
}
.footer a {
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}
.footer span {
  font-size: 14px;
}